<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.livejournal.karino2.guitarscorevisualizer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.livejournal.karino2.guitarscorevisualizer.ScoreListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.livejournal.karino2.guitarscorevisualizer.ScoreDetailActivity"
            android:label="@string/title_score_detail"
            android:parentActivityName=".ScoreListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ScoreListActivity" />
        </activity>
        <activity
            android:name="com.livejournal.karino2.guitarscorevisualizer.EditActivity"
            android:label="@string/title_activity_edit" >
        </activity>
    </application>

</manifest>
